I think a few of the changes should be non-controversial but the refactor for RFC 7540 §6.9.1 (MaxWindowSize) might be an edge case that we may not want to worry too much about.
2.0 is a good time to add such a change but I'll defer to the consensus about whether to proceed with that change.